# Compiled object files
*.o

# Compiled Static libraries
*.a

# CMake intermediate Files
CMakeCache.txt
CMakeFiles
#CMakeScripts
Makefile
cmake_install.cmake
#install_manifest.txt
CTestTestfile.cmake
DartConfiguration.tcl
Testing

# Naxos executables
*.AC
celar_solver
crew_scheduling
itc_solver
magic_square
naxos-xcsp3
nqueens
numpart
send_more_money
tsp
validator

# Amorgos executables
cryptmult
golfer
graphcolor
knump
magic
mapcolor
placement
sudoku
vertexcover
