# Compiled object files
*.o

# Compiled static libraries
*.a

# CMake intermediate Files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Testing

# Naxos executables
celar_solver
itc_solver
naxos-xcsp3
naxos-xcsp3-test
nqueens
numpart
send_more_money
validator

# Amorgos executables
cryptmult
golfer
graphcolor
knump
magic
mapcolor
placement
sudoku
vertexcover

# XCSP3 downloaded files
apps/XCSP3/parser/
apps/XCSP3/verification/XCSP3-Java-Tools/

# Visual Studio binaries
*.vcxproj
*.filters
*.sln
.vs/
*.dir/
Release/
Debug/
*.exe

# Logs
progress.svg
